<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8">

		<title>{{projectName}}</title>

		<script id="sap-ui-bootstrap"
			src="{{sapUI5Url}}"
			data-sap-ui-libs="sap.m"
			data-sap-ui-theme={{#if ui5Config.Theme}}"{{ui5Config.Theme}}"{{else}}"sap_bluecrystal"{{/if}}
			data-sap-ui-compatVersion="edge"
			data-sap-ui-resourceroots='{"{{basicSAPUI5ApplicationProject.parameters.namespace.value}}": ""}'>
		</script>

		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script>
			sap.ui.getCore().attachInit(function() {
				new sap.m.Shell({
					app: new sap.ui.core.ComponentContainer({
						height : "100%",
						name : "{{basicSAPUI5ApplicationProject.parameters.namespace.value}}"
					})
				}).placeAt("content");
			});
		</script>
	</head>

	<body class="sapUiBody" id="content">
	</body>

</html>