{
	"_version": "1.7.0",
	"sap.app": {
		"id": "{{basicSAPUI5ApplicationProject.parameters.namespace.value}}",
		"type": "application",
		"i18n": "i18n/i18n.properties",
		"applicationVersion": {
			"version": "1.0.0"
		},
		"title": "\{{appTitle}}",
		"description": "\{{appDescription}}",
	{{~#if mode.internal}}
		"resources": "resources.json",
		"ach": "ach",
	{{/if}}
		"sourceTemplate": {
			"id": "{{selectedTemplateId}}",
			"version": "{{selectedTemplateVersion}}"
		}
	},

	"sap.ui": {
		"technology": "UI5",
		"icons": {
            "icon": "",
            "favIcon": "",
			"phone": "",
			"phone@2": "",
			"tablet": "",
			"tablet@2": ""
        },
		"deviceTypes": {
			"desktop": true,
			"tablet": true,
			"phone": true
		},
		"supportedThemes": [
		{{#if ui5Config.AvailableThemes}}
            {{#each ui5Config.AvailableThemes}}
            	"{{this}}"
            	{{#unless @last}},{{/unless}}
            {{/each}}
        {{else}}
        	"sap_hcb",
        	"sap_bluecrystal"
        {{/if}}
        ]
	},

	"sap.ui5": { 
		"rootView": {
			"viewName":"{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.view.{{basicSAPUI5ApplicationProject.parameters.name.value}}",
			"type":"{{basicSAPUI5ApplicationProject.parameters.ViewTypesCollection.value.value}}"
		}, 
		"dependencies": {
            "minUI5Version": "1.30.0",
			"libs": {
                "sap.ui.core": {},
                "sap.m": {},
                "sap.ui.layout": {},
                {{~#if ui5IsBiggerThen142}}
			    "sap.f": {},
			    {{~/if}}
                "sap.ushell": {},
                "sap.collaboration": {},
                "sap.ui.comp": {},
                "sap.uxap": {}
			}
		},
		"contentDensities": {
			"compact": true,
			"cozy": true
		},
		"models": {
			"i18n": {
				"type": "sap.ui.model.resource.ResourceModel",
				"settings": {
					"bundleName": "{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.i18n.i18n"
				}
			}
		},
		"resources": {
			"css": [{
				"uri": "css/style.css"
			}]
		}
	}
}