<mvc:View controllerName="{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.controller.{{basicSAPUI5ApplicationProject.parameters.name.value}}"
	xmlns:html="http://www.w3.org/1999/xhtml" xmlns:mvc="sap.ui.core.mvc" displayBlock="true" xmlns="sap.m">
	
</mvc:View>