sap.ui.define([
	"sap/ui/core/mvc/Controller"
], function(Controller) {
	"use strict";

	return Controller.extend("{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.controller.{{basicSAPUI5ApplicationProject.parameters.name.value}}", {

	});
});